.step-main{
    position: relative;
    padding: 0 !important;
}

.step-wrapper{
    display: flex;
    position: absolute;
    width: 75%;
    bottom: -2px;
    right: 0;
    align-items: end;
}

.step{
    float: left;
    width: 33.33%;
    background-color: #000;
}

#step-1{
    height: 30px;

}
#step-2{
    height: 60px;

}
#step-3{
    height: 90px;

}