@import url('../src/assets/Font/Font.css');

html{
    overflow-x: hidden;
}

body{
    font-family: 'Gilroy';
}

.sec-title h2{
    color: #fff;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
}

.sec-title h4{
    color: #17A5FF;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

p{
    font-size: 14px;
    line-height: 24px;
} 


